*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
*.tmp
*.bak
*.swp
*~
.nosync
.git
.svn
*.sw?
*.bak
*.tmp
*.orig
*~
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
